* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 100px;
  background-color:  #B2D6FF;    /* Medium blue */
}

.sidebar {
  float: right;                 /* Right-aligned */
  float: left;                  /* Add this */
  float: none;                  /* Revert to default flow */
  width: 200px;                 /* Add this */
  height: 300px;
  background-color: #F09A9D;     /* Red */
}

.content {
  width: 650px;
  height: 500px;
  background-color: #F5CF8E;
}


.footer {
  overflow: hidden;
  background-color: #D6E9FE;
}

.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EAEDF0;
}


.container {
  overflow: hidden;               /* Add this */
  background-color: #EAEDF0;      /* Add this */
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;       /* Medium blue */
}

.content {
  padding: 20px;
}

.article-image {
float: left;                    /* Add this */
width: 300px;                  /* Add this */
height: 200px;
margin-right: 20px;
margin-bottom: 20px;
}

P {
  margin-bottom: 20px;
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}
